*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    background-color: whitesmoke;
}

.logo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo img{
    max-width: 100px;
    max-height: 100px;
}

.new-task{
    width: 100%;
    height: auto;
    text-align: center;
}

.new-task input{
    width: 50%;
}

.error>small{
    color: red;
}

.tasks-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}


.task{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
    background-color:gray;
    border-radius: 10px;
    border: 2px solid white;
}

.verify span{
    text-decoration:line-through;
    font-weight: 800;
    color: green;
}

